﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ucBaseCommisiion.ascx.cs" Inherits="UserControl_ucBaseCommisiion" %>
<table style="width: 100%; background-color: gray; font-size: smaller;">
    <tr>
        <td colspan="3" style="vertical-align:bottom ;height :45px;font-size :14px ;font-weight :bold ;padding-left :5px;" >BASE COMMISSION
             <hr style="width :95%;padding-right :10px; background-color: black; color: black; border: 1px solid ;" />
        </td>
    </tr>
    <tr>
        <td style="width: 2%"></td>
        <td style="width: 420px;">
            <table style="width: 100%; background-color: white; height: 250px;">
            <%--    <tr>
                    <td></td>
                </tr>
                <tr>
                    <td style="height: 20px;">
                        <br />
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td style="height: 20px;">
                        <br />
                        &nbsp;
                    </td>
                </tr>--%>
            </table>
        </td>
        <td style="width: 2%"></td>
        </tr>
    <tr><td style ="height :15px;"></td></tr>
</table>
