﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ucCompanySplitSummary.ascx.cs" Inherits="UserControl_ucCompanySplitSummary" %>


<style>
    .td1 {
        width: 30%;
        text-align: left;
        padding-left: 10px;
    }

    .td2 {
        width: 10%;
        text-align: left;
    }

    .td3 {
        width: 60%;
        text-align: left;
    }
</style>
<table style="height: 100%; width: 100%; font-size: smaller;" class="ucbackgroundborder" id="tbCompSpliSumm">

    <%--<tr>
        <td colspan="3">&nbsp;</td>
    </tr>--%>
    <tr>
        <%--<td colspan="3" style="font-weight:bold; padding-left:15px; padding-right:15px; vertical-align:middle;">--%>
        <td class="ucheadings">PROJECTED COMPANY SPLIT
            <hr />
        </td>
    </tr>
    <tr>

        <td>
            <div id="dvMainSumm" style="overflow-y: scroll; margin: 0px 10px 0px 10px; background-color: white;">
                <table style="width: 100%; background-color: white; padding-top: 5px;" id="tbCompanyCommsionSummary" runat="server" >
                   <%-- <tr>
                        <td class="td1" >Threshold:
                        </td>
                        <td id="td_Threashold" colspan="2"></td>
                    </tr>--%>
                   <tr>
                        <td colspan="3"></td>
                    </tr>
                   <%--  <tr>
                        <td colspan="3"></td>
                    </tr>
                    <tr>
                        <td class="td1" id="td_UserName"></td>
                        <td class="td2"></td>
                        <td class="td2" id="td_UserComm"></td>
                    </tr>
                    <tr>
                        <td class="td1" id="td_CompName"></td>
                        <td class="td2"></td>
                        <td class="td3" id="td_CompComm"></td>
                    </tr>
                    <tr>
                        <td colspan="3" align="left">

                            <hr style="width: 95%;" />
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">Total:</td>
                        <td class="td2"></td>
                        <td class="td3" id="td_total"></td>
                    </tr>--%>
                </table>
            </div>
        </td>

    </tr>
    <tr>
        <td style="height: 20px;">
            <br />
            &nbsp;
        </td>
    </tr>

</table>
