﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ucOptionCommission.ascx.cs" Inherits="UserControl_ucOptionCommission" %>
<table style="width: 100%; background-color: gray; font-size: smaller;">
    <tr>
          <td colspan="3" style="vertical-align:bottom ;height :45px;font-size :14px ;font-weight :bold ;padding-left :5px;" >OPTION COMMISSION
             <hr style="width :100%;padding-right :10px;background-color: black; color: black; border: 1px solid black;" />
        </td>
    </tr>
    <tr>
        <td style="width: 2%"></td>
       <td style="width: 420px;">
            <table style="width: 100%; background-color: white;height :250px;">
               <%-- <tr>
                    <td></td>
                </tr>--%>
            </table>
        </td>
        <td style="width: 2%"></td>
        </tr> 
     <tr><td style ="height :15px;"></td></tr>
</table>
