﻿<%@ Page Language="C#" AutoEventWireup="true" EnableEventValidation="False" CodeFile="test.aspx.cs" Inherits="test" %>

<%@ Register Src="UserControl/ucBilledTab.ascx" TagName="ucBilledTab" TagPrefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .ModalPopupBG {
            background-color: #666699;
            filter: alpha(opacity=50);
            opacity: 0.7;
        }

        .HellowWorldPopup {
            min-width: 200px;
            min-height: 150px;
            background: white;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <div>

      <asp:Button ID="bthSaveReprintPath" Text="Reprint Path" runat ="server" OnClick="bthSaveReprintPath_Click"/>

        </div>

    </form>
</body>
</html>
