﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="Pages_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
    </script>
   <%-- <script type="text/javascript">
        $(document).ready(function () {
            debugger;
            var user ='<%Request.QueryString("User").ToString();%>'
            alert(user);
        });

    </script>--%>

</head>
<body>
    <form id="form1" runat="server">
        <div>
            <h2>Welcome </h2>
          <asp:Label ID="lbUser" runat="server"></asp:Label>
        </div>

    </form>
</body>
</html>
