﻿.AutoExtender {
    margin: 0px !important;
    color: Gray;
    font-family: Verdana;
    font-size:small; 
    font-weight: normal;
    border: buttonshadow;
    border-style: solid;
    padding: 10px;
    background-color: White;
    text-align: left;
    list-style-type: none;
    overflow: auto;
    height:150px;
    height: 150px;
    list-style-type: none;
}

.AutoExtenderList {
    cursor: pointer;
    color: windowtext;
    padding: 3px;
    font-family: Verdana;
    font-size:small; 
    font-weight: normal;
}

.AutoExtenderHighlight {
    color: black;
    background-color: #E0E0E0;
    cursor: pointer;
    padding: 1px;
}

#divwidth {
    width: 250px !important;
    height: 150px;
    overflow: scroll;
}

    #divwidth div {
        width: 250px !important;
        height: 150px;
        overflow: scroll;
    }
