﻿body {
    font-family: Verdana !important;
}

.staticMenuItemStyle {
    text-align: center;
    display: block;
    padding-left: 2px;
    padding-right: 2px;
      background-color: #F68620;
      color:white;
    margin-left: 0;
    border: 1px none #22034C !important;
    border-right-color: #22034C  !important;
    border-right-width:3px !important;
    border-right-style:solid !important;
}

.staticMenuItemSelectedStyle {
   
    background-color: white;
    color: black;
    
}
.Notification {
color:red;
text-decoration-color:red;
background-color:red;
}
.staticHoverStyle {
    background-image: url(../MasterPage/Images/bg-black.gif);
}

.menuItem {
    display: block;
}

.dynamicMenuItemStyle {
    border: solid 1px #000;
    background-color: Silver;
    color: Red;
    z-index: 200;
    position: relative;
}

.background {
    border: solid 1px #000;
    background-image: url(../MasterPage/Images/bg-black.gif);
}

.NavigationMenu {
    /*font-family: Verdana;*/
    font-size: 10pt;
    color: #F68620;
    font-weight: 600;
    z-index: 101;
    background-color: #22034C;
    border:solid  0px  #22034C;
    
    /*background-image:url(../MasterPage/Images/bg-black.gif);*/
}

#h {
    background: #CCCFFF;
    padding: 5px 0 6px 10px;
}

#e {
    border: solid 1px #919191;
    background-image: url(../MasterPage/Images/sub.gif);
    padding: 0 0 1px;
}

.menuItemMouseOver, .menuItemSelected {
    border: solid 1px Navy;
    background-image: url(../MasterPage/Images/bg-black.gif);
}

.NavigationMenu A:link, .NavigationMenu A:visited, .NavigationMenu A:active {
    text-decoration: none;
    
    display: block;
}

.currentNodeStyle, .nodeStyle, .rootNodeStyle, a.siteMapPath {
    text-decoration: none;
    /*font-family: Verdana;*/
    font-size: 10pt;
}

.Header{
    background-color: #22034C;
    /*font-family: Verdana;*/
    font-size: 10pt;
}
.Footer{
    background-color: #22034C;
    /*font-family: Verdana;*/
    font-size: 10pt;
}

