﻿body {
    font-family: Verdana;
    font-size: small;
    border-spacing: 0px;
}



.ddlHeight {
    height: 25px;
    font-family: Verdana;
    font-size: medium;
}

.normalTextBox
{
    border: 1px solid #C0C0C0;
    width: 200px; /*width: 170px;*/
    height: 15px;
}

.onlyNumbers {
    height: 11px;
    font-family: Verdana;
    font-size: smaller;
}

.onlyDecimals {
    height: 13px;
    font-family: Verdana;
    font-size: medium;
}

table {
    font-size: 11px;
}

.GridFooter {
    background-color: gray;
}
