﻿body {
    font-family: Verdana !important;
    font-size: small;
    border-spacing: 0px;
}

input {
    font-family: Verdana !important;
}

textarea {
    resize: none;
}

.removeunderline {
    text-decoration: none;
}

.linkbut {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.PageNoCSS {
    float: right;
    padding-right: 5px;
}
/*----Dollar for textbox*/
.DollarTextBox {
    background: url('../Images/dollar-icon.jpg') white;
    background-size: 16px 16px;
    background-position-y: 3px;
    background-repeat: no-repeat;
    padding-left: 14px;
    /*text-indent: 14px;*/
    border: 1px solid transparent;
    vertical-align: middle;
}

.DollarLabel {
    background: url('../Images/graydollar.png');
    background-size: 16px 16px;
    background-position-y: 1px;
    background-repeat: no-repeat;
    padding-left: 14px;
    /*text-indent: 14px;
    border: 1px solid transparent;
    vertical-align: middle;*/
}

.DollarTextBoxWithBorder {
    background: url('../Images/dollar-icon.jpg');
    background-size: 16px 16px;
    background-position-y: 3px;
    background-repeat: no-repeat;
    padding-left:initial;
    text-indent: 14px;
    background-color: white;
    border: 1px #ABADB3 solid;
    vertical-align: middle;
    /*height:17px;*/
}

.highlight {
    border: 3px red;
    border-bottom-style: double;
    border-top-style: double;
    border-left-style: groove;
    border-right-style: groove;
    background-color: #FFFFCC;
}



/*------------------------------------Grid View ---------------------------------------------------*/
.HeaderAlignCenter {
    text-align: center;
}

.HeaderAlignRight {
    text-align: right;
}

.HeaderAlignLeft {
    text-align: left;
}

.FooterAlignCenter {
    text-align: center;
}

.FooterAlignRight {
    text-align: right;
}

.FooterAlignLeft {
    text-align: left;
}

.ItemStyleAlignCenter {
    text-align: center;
}

.ItemStyleAlignRight {
    text-align: right;
}

.ItemStyleAlignLeft {
    text-align: left;
}

.HeaderGridView {
    font-weight: bold;
    font-size: small;
    /*font-family :Verdana ;*/
    color: black;
    background-color: lightgray;
    text-align: center;
}

.FooterGridView {
    font-weight: bold;
    font-size: small;
    /*font-family: Verdana;*/
    color: black;
    background-color: lightgray;
}

.RowGridView {
    font-size: small;
    /*font-family: Verdana;*/
    height: 16px;
}

.AlternatingRowGridView2 {
    height: 10px;
    background-color: #F5F6CE;
}

.HeaderGridView2 {
    height: 25px;
    background-color: #D8D8D8;
    font-weight: bold;
    color: Black;
    text-align: center;
 
   

}

.Notification {
    color: red;
    text-decoration-color: red;
}

.HeaderGridView2 a {
    color: #7853C9; /*#22034C*/
}

.RowGridView2 {
    background-color: #ffffff;
    height: 10px;
    color: Black;
}

.SelectedRowGridView2 {
    background-color: #F7BE81;
}

.FooterGridView2 {
    background-color: #D8D8D8;
    height: 25px;
    color: Black;
    font-weight: bold;
    text-align: right;
}

.pagerStyle {
    background-color: lightgray;
    color: black;
    font-weight: bold;
    text-wrap: normal;
    font-size: small;
    padding-left: 15px;
}

    .pagerStyle td {
        padding-left: 10px;
    }

.ddlHeight {
    /*height: 9px;*/
    /*font-family: Verdana;*/
    /*font-size: 10px;*/
}

.normalTextBox {
    border: 1px solid #C0C0C0;
    width: 200px; /*width: 170px;*/
    height: 16px;
}

.onlyNumbers {
    /*height: 11px;*/
    /*font-family: Verdana;*/
    /*font-size: small;*/
}

.onlyDecimals {
    /*height: 11px;*/
    /*font-family: Verdana;*/
    /*font-size: small;*/
}

.OuterBorder {
    border: 1px solid black;
}

.AllBorder {
    border: 1px;
}

    .AllBorder table {
        border: 1px;
    }

        .AllBorder table tr td {
            border: 1px;
        }

.BottomBorder {
    border-bottom: 1px solid black;
}
/*table {
    font-size: 11px;
    border :1px;
}
 td {
    border:none;
}
tr {
    border:none;
}*/
.GridFooter {
    background-color: gray;
}
/*------------------------------------user control ---------------------------------------------------*/

.ucheadings {
    width: 26%;
    font-size: 14px;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 15px;
}

.ucbackground {
    background-color: gray; /*#BDBEC1;*/
    /*border: 1px solid black;*/
}

table.spacing {
    border-spacing: 0px;
    border-collapse: separate;
    margin-left: auto;
    margin-right: auto;
    /*margin:2px 2px 2px 2px;*/
    /*padding: 2px 2px 2px 2px;*/
}

.uclabels {
    vertical-align: top;
    width: 10%;
    padding-left: 15px;
    height: 18px;
    font-weight: bold;
}

.uctextboxSmall {
    width: 80px;
    height: 15px;
}

.uctextboxMed {
    width: 150px;
    height: 18px;
}

.ucbackgroundborder {
    background-color: gray; /*#BDBEC1;*/
    border: 1px solid black;
}

.ucddlSmall {
    width: 90px;
    height: 24px;
}

.uctextArea {
    width: 85%;
    font-family: Verdana;
}

/*---------------------------------NewCharge------------------------------------------------------*/

.modalBackground {
    background-color: Gray;
    filter: alpha(opacity=80);
    opacity: 0.8;
}

.modaltextboxlarge {
    width: 250px;
    height: 16px !important;
    Font-Size: Small;
}

.modaltextboxsmall {
    width: 160px;
    height: 16px !important;
    Font-Size: Small;
}

.modalddlSmall {
    width: 160px;
    height: 20px !important;
    Font-Size: Small;
}

.boldlabels {
    width: 26%;
    height: 18px;
    font-weight: 600;
}

.textboxlarge {
    width: 250px;
    height: 18px;
}

.textboxmedium {
    width: 200px;
    height: 18px;
}

.textboxsmall {
    width: 140px;
    height: 18px;
}

.ddlSmall {
    width: 150px;
    height: 24px;
}

/*.PopupDivStyle {
    background-color: white;
    border: groove;
    border-color: black;
    width: 320px;
    height: 270px;
    border-radius: 3px;
}*/


input[type="submit"].GrayRoundButton {
    /*font-family: Verdana;*/
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid #000000;
    background-color: #B8B8B8;
    color: black;
    cursor: pointer;
}

/*input[type="submit"].GrayRoundButton:hover {
        background-color: #F8F8F8;
    }*/

input[type="submit"].LightGrayButton {
    /*font-family: Verdana;*/
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid #000000;
    background-color: #E0E0E0;
    color: black;
    cursor: pointer;
}

/*input[type="submit"].LightGrayButton:hover {
        background-color: #989898;
    }*/

input[type="submit"].SqureButton {
    /*font-family: Verdana;*/
    font-weight: 600;
    border-radius: 0px;
    border: 1px solid #000000;
    background-color: #B8B8B8;
    color: black;
    cursor: pointer;
}

input[type="button"].SqureButton {
    /*font-family: Verdana;*/
    font-weight: 600;
    border-radius: 0px;
    border: 1px solid #000000;
    background-color: #B8B8B8;
    color: black;
    cursor: pointer;
}

input[type="button"].SqureGrayButtonSmall {
    width: 70px;
    height: 20px;
    /*font-family: Verdana;*/
    font-weight: 600;
    border-radius: 0px;
    border: 1px solid #000000;
    background-color: #B8B8B8;
    color: black;
    cursor: pointer;
}

input[type="submit"].SqureGrayButtonSmall {
    width: 70px;
    height: 20px;
    /*font-family: Verdana;*/
    font-weight: 600;
    border-radius: 0px;
    border: 1px solid #000000;
    background-color: #B8B8B8;
    color: black;
    cursor: pointer;
}

input[type="submit"].btnSmallOrange {
    /*.btnSmallOrange {*/
    border: 1px solid #000000;
    font-weight: 600;
    border-radius: 0px;
    background-color: #F68620;
    color: white;
    cursor: pointer;
    padding-bottom: 1px;
}

input[type="button"].btnSmallOrange {
    /*.btnSmallOrange {*/
    border: 1px solid #000000;
    font-weight: 600;
    border-radius: 0px;
    background-color: #F68620;
    color: white;
    cursor: pointer;
    padding-bottom: 1px;
}

input[type="submit"]:hover {
    background-color: #707070;
}

div.PopupDivBodyStyle {
    background-color: white;
    border: 2px solid #000000;
    width: auto;
    height: 260px;
    border-radius: 3px;
    padding: 0px 0px 0px 0px;
}

table.spacing {
    border-spacing: 0px;
    border-collapse: separate;
    margin-left: auto;
    margin-right: auto;
    /*margin:2px 2px 2px 2px;*/
    /*padding: 2px 2px 2px 2px;*/
}

tr.trBorder {
    background-color: gray;
    border-bottom: 3px solid black;
}


.gridStyle {
    width: 100%;
    background-color: cadetblue;
    padding: 0px 2px 0px 2px;
    border: 1px solid #666;
}

.optPayable {
}

.SummaryHeading {
    font-weight: 600;
    font-size: 16px;
    font-family: Verdana !important;
}

.OrangeTitle {
    color: #F68620;
    font-size: 14px;
}

hr {
    color: black;
    background-color: black;
    border: 0.5px solid black;
    height: 1px;
    width: 100%;
}

.mainPageTitle {
    text-align: right;
    padding-top: 0.5em;
    color: #F68620;
    /*border-color: black;*/
    text-shadow: initial;
    font-weight: 600;
    font-size: 20px;
}

.mainPageSubTitle {
    padding-top: 1em;
    width: 80%;
    color: #F68620;
    text-align: left;
    text-shadow: initial;
    font-weight: 600;
    font-size: 16px;
}

.errorMsg {
    font-size: small;
    font-weight: bold;
    color: red;
}

.removeunderline {
    text-decoration: none;
}

.imgSizeSmall {
    width: 16px;
    height: 16px;
}

.imgSizeBig {
    width: 20px;
    height: 20px;
}

.whitelabel {
    color: white;
}

input[type="submit"].btnSmallOrange:hover {
    background-color: #F68620;
}

.ajax__calendar_day_disabled {
    background-color: #ccc !important;
    color: #eee !important;
}

.ui-widget-header {
    font-weight: bold;
    font-size: 1.3em;
    background: gray;
    font-family: Verdana;
}

.ui-widget-content {
    border: 2px solid black;
}

.ui-dialog-titlebar-close {
    border: none;
    /*background-color: gray;*/
    background-repeat: no-repeat;
    background-image: url('../Images/close.png');
    padding: 0px;
}

.ui-icon {
    display: none;
}

.ui-dialog {
    padding: 0px;
}

.ui-corner-all {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.ui-button-text {
    border: none;
    background-color: gray;
    background-repeat: no-repeat;
    background-image: url('../Images/close.png');
    border-color: gray;
}
/*.post-block {
    width: 100%;
    background-color: cadetblue;
    padding: 0px 2px 0px 2px;
    border: 1px solid #666;
}*/

​

/*table.padded-table-2 td  { padding-top:20px; padding-right:2px; padding-bottom:10px; padding-left:12px; }*/


/*  Autocomplete  */

/*.AutoCompleteFlyout {
    margin: 0px !important;
    background-color: inherit;
    color: Gray;
    border: buttonshadow;
    border-width: 1px;
    border-style: solid;
    cursor: 'default';
    overflow: auto;
    height: 200px;
    width: 50px;
    text-align: left;
    list-style-type: none;
}

.AutoCompleteFlyoutItem {
    background-color: window;
    color: windowtext;
    padding: 3px;
}

.AutoCompleteFlyoutHilightedItem {
    background-color: #F5DEB3;
    color: black;
    padding: 1px;
}*/

/* Auto complete*/


/* For radio button list styling JAY */


.radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 4px 11px;
    font-weight:500;
    font-size: 15px;
    /*font-family: Arial;
            */
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: #bbb;
}
