﻿body {
    /*font-family: Verdana !important;*/
    font-size: small;
    border-spacing: 0px;
}

input {
    font-family: Verdana !important;
}

.SummaryHeading {
    font-weight: 600;
    font-size: 16px;
    font-family: Verdana !important;
}

.OrangeTitle {
    color: #F68620;
    font-size: 14px;
}

hr {
    color: black;
    height: 0.5px;
    width: 100%;
    border: 0.5px solid black;
    background-color: black;
}

.mainPageTitle {
    text-align: right;
    padding-top: 0.5em;
    color: #F68620;
    /*border-color: black;*/
    text-shadow: initial;
    font-weight: 600;
    font-size: 20px;
}
.mainPageSubTitle {
    padding-top: 1em;
    width: 80%;
    color: #F68620;
    text-align: left;
    text-shadow: initial;
    font-weight: 600;
    font-size: 16px;
}

.errorMsg {
    font-size: small;
    font-weight: bold;
    color: red;
}
/*------------------------------------Grid View ---------------------------------------------------*/

.HeaderGridView {
    font-weight: bold;
    font-size: small;
    /*font-family :Verdana ;*/
    color: black;
    background-color: lightgray;
    text-align: center;
}

.FooterGridView {
    font-weight: bold;
    font-size: small;
    /*font-family: Verdana;*/
    color: black;
    background-color: lightgray;
    text-align: right;
}

.RowGridView {
    font-size: small;
    /*font-family: Verdana;*/
    height: 16px;
}

.AlternatingRowGridView2 {
    height: 10px;
    background-color: #F5F6CE;
}

.HeaderGridView2 {
    height: 25px;
    background-color: #D8D8D8;
    font-weight: bold;
    color: Black;
}

.RowGridView2 {
    background-color: #ffffff;
    height: 10px;
    color: Black;
}

.SelectedRowGridView2 {
    background-color: #F7BE81;
}

.FooterGridView2 {
    background-color: #D8D8D8;
    height: 25px;
    color: Black;
    font-weight: bold;
}
/*------------------------------------user control ---------------------------------------------------*/

.ucheadings {
    width: 26%;
    font-size: 14px;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 15px;
}

.ucbackground {
    background-color: #BDBEC1;
    /*border: 1px solid black;*/
}

table.spacing {
    border-spacing: 0px;
    border-collapse: separate;
    margin-left: auto;
    margin-right: auto;
    /*margin:2px 2px 2px 2px;*/
    /*padding: 2px 2px 2px 2px;*/
}

.uclabels {
    vertical-align: top;
    width: 10%;
    padding-left: 15px;
    height: 18px;
    font-weight: bold;
}
.uctextboxSmall {
    width: 80px;
    height: 15px;
}

.uctextboxMed{
    width: 150px;
    height: 18px;
}
.ucbackgroundborder{
    background-color: #BDBEC1;
    border: 1px solid black;
}
.ucddlSmall {
    width: 90px;
    height: 24px;
}
.uctextArea {
    width:85%;
    font-family:Verdana;
}

/*---------------------------------NewCharge------------------------------------------------------*/
.modaltextboxlarge {
    width: 250px;
    height: 16px !important;
    Font-Size: Small;
}

.modaltextboxsmall {
    width: 160px;
    height: 16px !important;
    Font-Size: Small;
}

.modalddlSmall {
    width: 160px;
    height: 20px !important;
    Font-Size: Small;
}

/*.SqureGrayButtonSmall {
    Width: 80px;
    Height: 20px;
    font-family: Verdana;
    font-weight: 600;
    border-radius: 0px;
    border: 1px solid #000000;
    background-color: grey;
    color: black;
    cursor: pointer;
}*/

.boldlabels {
    width: 26%;
    height: 18px;
    font-weight: 600;
}

.textboxlarge {
    width: 250px;
    height: 18px;
}

.textboxmedium {
    width: 200px;
    height: 18px;
}

.textboxsmall {
    width: 140px;
    height: 18px;
}

.ddlSmall {
    width: 150px;
    height: 24px;
}

.btnSmallGray {
    width: 50px;
    height: 20px;
    background-color: #B8B8B8;
    border: 1px solid #000000;
    color: black;
    cursor: pointer;
    font-weight: 600;
}

.btnGray {
    height: 20px;
    background-color: #B8B8B8;
    border: 1px solid #000000;
    color: black;
    cursor: pointer;
    font-weight: 600;
}

.btnSmallOrange {
    width: 70px;
    height: 20px;
    background-color: #F68620;
    border: 1px solid #000000;
    color: white;
    cursor: pointer;
    font-weight: 600;
}
.btnSmallOrange input[type="submit"]:hover{
    width: 70px;
    height: 20px;
    background-color: #F68620;
    border: 1px solid #000000;
    color: white;
    cursor: pointer;
    font-weight: 600;
    }

.imgSizeSmall {
    width: 16px;
    height: 16px;
}
.imgSizeBig{
    width: 20px;
    height: 20px;
}

.whitelabel {
   color:white;
}

/*-------------------------------Table--------------------------------------------------------*/

.AllBorder {
    border:1px solid black;
}
.OuterBorder {
    border: 1px solid black;
}


/*-------------------------------Pop Up--------------------------------------------------------*/

div.PopupDivBodyStyle {
    background-color: white;
    border: 1px solid #000000;
    width: auto;
    height: 260px;
    border-radius: 3px;
    padding: 0px 0px 0px 0px;
}
